/* It starts completely empty. I wish you luck. */



@media screen and (min-width:850px){

    #wrapper{
        display: grid;
        grid-template-areas:
        "logo       intro"
        "menu       menu"
        "playground playground"
        "footer     footer";
        grid-template-columns: 500px 1fr;
        grid-template-rows: 350px 1fr;
    }
}

h1.game {
    width: 500px;
    height: 400px;
    background: url(../../images/tetris-logo.png) no-repeat;
    text-indent: 210px;
  }

  ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

  .menu a {
    display: block;
    background: gray;
    padding: 10px;
    color: white;
    text-decoration: none;
}
  .menu li {
    width: 25%;
}
  .menu a:hover {
	background: red;
	color: yellow;
}

.dropbtn {
  background-color: gray;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.tet{
  padding: 10px;  
}

#i:hover{
  -webkit-animation: rotation 2s infinite linear;
}
#j:hover{
  -webkit-animation: rotation 2s infinite linear;
}
#l:hover{
  -webkit-animation: rotation 2s infinite linear;
}
#o:hover{
  -webkit-animation: rotation 2s infinite linear;
}
#s:hover{
  -webkit-animation: rotation 2s infinite linear;
}
#t:hover{
  -webkit-animation: rotation 2s infinite linear;
}
#z:hover{
  -webkit-animation: rotation 2s infinite linear;
  
}





@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}


.dropdown-content a:hover {background-color: red;}
.dropdown:hover .dropdown-content {display: block;}

h1.game { grid-area: logo; }
ul.menu { grid-area: menu; }
#introduction { grid-area: intro; }
#tetgrid { grid-area: playground; }
footer { grid-area: footer; }

